<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shoppers_era">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk android:targetSdkVersion="27" android:minSdkVersion="14"
        tools:overrideLibrary="com.razorpay"/>

    <application
        android:name="com.shoppers_era.Applications.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">

        <activity
            android:name="com.shoppers_era.Splash.Activity_Splash"
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shoppers_era.Activities.Main_Handler_Activity"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_1r718R1RG7mCcP"
            />

        <!-- Firebase Notifications -->
        <service android:name="com.shoppers_era.Notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.shoppers_era.Notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->

        <activity
            android:name="com.shoppers_era.Activities.Cat_Details"
            android:label=""
            android:screenOrientation="portrait"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name="com.shoppers_era.Activities.Write_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name="com.shoppers_era.Activities.Profile_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity
            android:name="com.shoppers_era.Activities.Login_Actvity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.shoppers_era.Activities.Search_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.shoppers_era.Activities.Diary_Full"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.shoppers_era.Activities.Full_Image"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.shoppers_era.Activities.Notifications_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.shoppers_era.Activities.Status_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name="com.shoppers_era.Activities.Reward_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.shoppers_era.Activities.Help_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.shoppers_era.Activities.Verification"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/AppTheme">

        </activity>
        <activity android:name="com.shoppers_era.Activities.Payment_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.shoppers_era.Activities.Payment_Activity_1"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.shoppers_era.Activities.Address_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.shoppers_era.Activities.Thanks_Activity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.shoppers_era.Activities.My_Orders"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.shoppers_era.Activities.Bank_Details"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <!-- Enables the Google Pay API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>